@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

$font-family-sans-serif : 'Rubik', sans-serif;

$danger : hsl(0, 94%, 66%);
$primary : hsl(231, 69%, 60%);
$secondary : hsla(253, 70%, 13%, 0.829);

$btn-padding-x : 2rem;
$btn-padding-y : .5rem;
$navbar-nav-link-padding-x : 2rem;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.navbar{
    z-index: 10;
}
nav .nav-link{
    color: #030303c5;
    font-size: 14px;
}
nav .login{
    color: #fff;
    font-size: small;
    margin:0 2rem 0 2rem;
}
.mb-300{
    margin-bottom: 300px;
}
.mb-150{
    margin-bottom : 150px;
}
.footer{
    letter-spacing: .4rem;
}
.footer img{
    color : #ffff;
}
@media screen and (max-width: 576px) {
    .btn{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}